@page "/student/20"
@rendermode InteractiveServer
@inject H125Q2BlazorApp.Services.TaskService TaskService
@inject NavigationManager NavigationManager

<PageTitle>Opgave 20: Mini-Spil (Hukommelsesspil)</PageTitle>

<h1>Opgave 20: Mini-Spil (Hukommelsesspil)</h1>

@{
    var task = TaskService.GetTaskById(20);
    if (task != null)
    {
        <div class="alert alert-info">
            <h4>Opgavebeskrivelse:</h4>
            <p>@task.Description</p>
            
            <h5 class="mt-3">Hints:</h5>
            <pre>@task.Hints</pre>
        </div>
    }
}

<div class="mt-4">
    <button class="btn btn-primary" @onclick="GoBack">Tilbage til opgavedetaljer</button>
</div>

@code {
    private void GoBack()
    {
        NavigationManager.NavigateTo("/task/20");
    }
} 