@page "/"

<PageTitle>Blazor Miniopgaver</PageTitle>

<h1>Velkommen til Blazor Miniopgaver!</h1>

<p>Dette er en samling af 21 sjove og lærerige miniopgaver i Blazor, inddelt i sværhedsgrader:</p>

<div class="row mb-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-success text-white">
                Let sværhedsgrad
            </div>
            <div class="card-body">
                <p>Perfekt for begyndere, der skal lære de grundlæggende koncepter i Blazor.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-warning">
                Mellem sværhedsgrad
            </div>
            <div class="card-body">
                <p>For dem der har styr på det grundlæggende og vil udfordres lidt mere.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-danger text-white">
                Svær sværhedsgrad
            </div>
            <div class="card-body">
                <p>Avancerede opgaver, der kræver en god forståelse af Blazor og C#.</p>
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <a href="tasks" class="btn btn-primary btn-lg">Se alle miniopgaver</a>
</div>

<div class="mt-4">
    <h4>Direkte links til opgaver (til test):</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Opgaver (Let)
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/task/1">Opgave 1: Velkomsthilsen</a></li>
                    <li class="list-group-item"><a href="/task/2">Opgave 2: Komplimentknap</a></li>
                    <li class="list-group-item"><a href="/task/3">Opgave 3: Skift Baggrundsfarve</a></li>
                    <li class="list-group-item"><a href="/task/4">Opgave 4: Simpel Regnemaskine</a></li>
                    <li class="list-group-item"><a href="/task/5">Opgave 5: Tilføj & Fjern fra Liste</a></li>
                    <li class="list-group-item"><a href="/task/6">Opgave 6: Tilfældig Dyrelyd</a></li>
                    <li class="list-group-item"><a href="/task/7">Opgave 7: Live Teksttæller</a></li>
                </ul>
            </div>

            <div class="card mt-3">
                <div class="card-header bg-warning text-dark">
                    Opgaver (Mellem)
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/task/8">Opgave 8: Farvemixer (RGB-slider)</a></li>
                    <li class="list-group-item"><a href="/task/9">Opgave 9: Gæt et Tal</a></li>
                    <li class="list-group-item"><a href="/task/10">Opgave 10: Like Counter Komponent</a></li>
                    <li class="list-group-item"><a href="/task/11">Opgave 11: Stjernevurdering</a></li>
                    <li class="list-group-item"><a href="/task/12">Opgave 12: Modal Dialog Komponent</a></li>
                    <li class="list-group-item"><a href="/task/13">Opgave 13: Nedtællingstimer</a></li>
                    <li class="list-group-item"><a href="/task/14">Opgave 14: Enkelt Formular med Validering</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    Opgaver (Svær)
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/task/15">Opgave 15: Søgefilter for Liste</a></li>
                    <li class="list-group-item"><a href="/task/16">Opgave 16: Forældre-Barn Komponent Kommunikation</a></li>
                    <li class="list-group-item"><a href="/task/17">Opgave 17: Global Tilstand</a></li>
                    <li class="list-group-item"><a href="/task/18">Opgave 18: Tema Skifter</a></li>
                    <li class="list-group-item"><a href="/task/19">Opgave 19: Kort Komponent</a></li>
                    <li class="list-group-item"><a href="/task/20">Opgave 20: Mini-Spil (Hukommelsesspil)</a></li>
                    <li class="list-group-item"><a href="/task/21">Opgave 21: Password Validator</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    Opgaver (Svær)
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/task/15">Opgave 15: Søgefilter for Liste</a></li>
                    <li class="list-group-item"><a href="/task/16">Opgave 16: Forældre-Barn Komponent Kommunikation</a></li>
                    <li class="list-group-item"><a href="/task/17">Opgave 17: Global Tilstand</a></li>
                    <li class="list-group-item"><a href="/task/18">Opgave 18: Tema Skifter</a></li>
                    <li class="list-group-item"><a href="/task/20">Opgave 20: Mini-Spil (Hukommelsesspil)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
